*{
  padding:0;
  margin: 0;
  box-sizing: border-box;
  transition: 0.5s linear;
}

:root{
  --black:rgb(21,21,21);
  --green:rgb(78,225,160);
  --dark-gray:rgb(36,36,36);
  --light-gray:rgb(217,217,217);
  --white:rgb(255,255,255);
  --alert:rgba(255, 111, 91, 1);
}

  @font-face {
    font-family: SpaceGrotesk;
    src: url('/fonts/static/SpaceGrotesk-Medium.ttf');
    font-weight: normal;
  }

  @font-face {
    font-family: SpaceGrotesk;
    src: url('/fonts/static/SpaceGrotesk-Bold.ttf');
    font-weight: bold;
  }

html{
  font-size: 10px;
  scroll-behavior: smooth;
}

/* Mobile first */
body{
  background: url('/images/pattern-rings.svg') no-repeat left -342px top 124px, 
              url('/images/pattern-circle.svg') no-repeat right calc(0px - 64.5px)  top 254px,
              url('/images/pattern-rings.svg') no-repeat right calc(0px - 341px) top 1282px;
  background-color: var(--black);
  font-family: SpaceGrotesk, sans-serif;
  font-size: 1.6rem;
  color:var(--white);
}

ul{
  list-style: none;
  display: flex;
}

p{
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: var(--white);
}
input,button{
  background: none;
  border: none;
}
button{
  cursor: pointer;
}
h2{
  letter-spacing: -0.25rem;
}
h3{
  letter-spacing: -0.15rem;
}
a,button{
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
a:hover, a:active, a:focus, button:hover, button:focus {
  color:var(--green)
}
/* navigation styles */
.nav{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1.8rem 0;
  z-index: 99;
}
.nav p {
  font-size: 2.4rem;
  line-height: 3.2rem;
  font-weight: bold;
  letter-spacing: -0.33px;
}
.nav__list{
  width: 154px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
}

.nav__link{
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav__link .social-ico > path{
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.nav__link:hover .social-ico > path{
  fill:var(--green);
}


/* button styles */
.btn{
  display: inline-block;
  position: relative;
  height: 3.8rem;
  color: var(--white);
  text-transform: uppercase;
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-weight: bold;
  letter-spacing: 0.22rem;
  text-decoration: none;
}
.btn::before{
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--green);
}

/* visually hidden pattern. Hide block from users but not from screen reader*/
.visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* title settings */
.title{
  text-transform: capitalize;
  line-height: 4rem;
  font-size: 4rem;
}

/* header */
.header{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
/* end */
/* main */
.main{
  width: 100%;
  padding: 1.6rem;
}

  /*section intro*/
  .intro{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .intro__text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3.8rem;
    order:2;
  }
  .intro__text p:first-child{
    font-size: 4rem;
    line-height: 4rem;
    font-weight: 700;
  }
  .intro__text--br-hidden{
    display: none;
  }
  .intro__text p{
    line-height: 2.6rem;
    font-weight: 500;
    text-align: center;
  }
  .intro__text p:not(p:first-child){
    color: var(--light-gray);
    margin-top: 2.4rem;

  }
  .text--underline{
    border-bottom: 4px solid var(--green);
  }
  .intro__link{
    margin-top: 2.4rem;
  }

  .intro__img{
    order: 1;
    width: 100%;
    height: 367px;
    background: url("/images/image-profile-mobile.webp") no-repeat;
    background-position: center;
    background-size: contain;
    z-index: 1;
    transition: 1s cubic-bezier(0.39, 0.575, 0.565, 1);
  }

  /* end */

  /* section skills */
  .skills{
    margin-top: 8rem;
    padding: 4rem 0;
    border-top: 1px solid var(--white);
    border-bottom: 1px solid var(--white);

  }
  .skills__list{
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

  }
  .skills__item:not(.skills__item:first-child){
    margin-top: 2.4rem;
  }
  .skills__item h3{
    font-size: 3.2rem;
    line-height: 4rem;
    font-weight: bold;
  }
  .skills__item p {
    line-height: 2.6rem;
    color: var(--light-gray);
  }
  /* end */

  /* section Projects */
  .projects{
    margin-top: 6rem;
    padding-bottom: 8rem;
  }
  .projects__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .projects__list{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 4rem;
  }
  .projects__item{
    width: 100%;
  }
  .projects__item:not(.projects__item:first-child){
    margin-top: 4rem;
  }
  .projects__preview-img{
    max-width: 100%;
  }
  .projects__describe{
    margin-top: 2rem;
  }
  .describe__title{
    font-size: 2.4rem;
    line-height: 3.2rem;
    text-transform: uppercase;
  }
  .projects__tech-list{
    flex-wrap: wrap;
    margin-top: 0.7rem;
    gap: 1.8rem;
  }
  .describe__item{
    font-size: 1.8rem;
    line-height: 2.8rem;
    text-transform: uppercase;
    color: var(--light-gray);
  }

  .describe__links-wrapper{
    display: flex;
    gap: 3rem;
    margin-top: 2rem;
  }
  /* end */
/* main end */

/* footer */
.footer{
  background:url('/images/pattern-rings.svg') no-repeat left -342px top 60%,
            var(--dark-gray) ;
  padding: 6rem 1.6rem;
}
  /* section contact */
  .contact{
    padding-bottom: 8.7rem;
    border-bottom: 1px solid var(--white);
  }
  .contact-title{
    text-align: center;
  }
  .contact p {
    margin-top: 2rem;
    color: var(--light-gray);
    text-align: center;
  }
  .contact-form{
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
  }
  .form__input-wrapper{
    width: 100%;
    height: 4.3rem;

  }
  .form__input{
    width: 100%;
    background: transparent;
    font-family: SpaceGrotesk;
    font-size: 1.6rem;
    line-height: 2.4rem;
    padding-left: 2.4rem;
    padding-bottom: 1.6rem;
    color:var(--white);
    border: none;
    border-bottom: 1px solid var(--white);
    text-transform: uppercase;
  }
  .form__input-wrapper:not(.form__input-wrapper:first-child){
    margin-top: 3.2rem;
  }
  .form__input:focus-visible{
    outline: none;
  }
  .form__input::placeholder{
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-family: SpaceGrotesk;
    color: rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
  }
  .form__input:focus{
    border-color:  var(--green);
  }

  .input-email{
    display: flex;
    position: relative;
    flex-direction: column;
  }
  .form__input[type="email"]:invalid{
    border-color:  var(--alert);
  }
  .email-alert{
  width: 100%;
  text-align: right;
  font-size: 1.2rem;
  line-height: 1.6rem;
  letter-spacing: -0.166667px;
  color: var(--alert);
  }
  .email-alert.hidden{
    display: none;
  }
  .email-alert.hidden::before{
    content: url("/images/alert.svg");
    position: absolute;
    top:0;
    right: 0;
    width: 2.4rem;
    height: 2.4rem;
  }
  .form__input[type="email"]:invalid + .email-alert.hidden{
    display: block;
  }


  .input-message{
    height: 107px;
  }
  .input-message textarea{
    height: 107px;
    resize: none;
  }
  .form__btn-submit{
    align-self: flex-end;
    margin-top: 3.2rem;
  }
  /* end */
  /* footer navigation */
  .footer-nav{
    margin-top:3.9rem
  }
  /* end */
/*footer end */

/* media queries */
@media (min-width: 768px) {
  /* navigation styles */
  .nav{
    flex-direction: row;
    justify-content: space-between;
    padding: 0 3rem;
  }
  .nav p {
    font-size: 3.2rem;
    letter-spacing: -0.44px;
  }
  .nav__list{
    margin-top: 0;
    align-items: center;
  }
  .main{
    padding: 3.2rem;
    padding-top: 0;
  }
    /*section intro*/
    .intro{
      margin-top: 151px;
      align-items: flex-start;
    }
    .intro__text{
      min-width: 443px;
      max-width: 70%;
      align-items: flex-start;
      margin-top: 0;
    }

    .intro__text p:first-child{
      font-size: 7.2rem;
      line-height: 7.2rem;
      letter-spacing: -2.05px;
      text-align: left;
    }
  
    .intro__text--br-hidden{
      display: block;
    }

    .intro__text p{
      max-width: 450px;
      line-height: 2.8rem;
      font-size: 1.8rem;
      text-align: left;
    }

    .intro__text p:not(p:first-child){
      margin-top: 6.4rem;
  
    }
    .intro__link{
      margin-top: 4.6rem;
      text-align: left;
    }
    .intro__img{
      position: absolute;
      top:0;
      right: 0;
      max-width: 322px;
      height: 600px;
      background: url("/images/image-profile-tablet.webp") no-repeat;
      background-size: cover;
      z-index: -1;
    }
    /* end */

    /* section skills */
    .skills{
      margin-top: 6rem;
      padding: 0;
      border-bottom: none;
    }
    .skills__list{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-items: start;
      text-align: left;
    }
    .skills__item:not(.skills__item:first-child), .skills__item:first-child{
      margin-top: 5.2rem;
    }
    .skills__item h3{
      font-size: 4.8rem;
      line-height: 5.6rem;
      letter-spacing: -1.5px;
    }
    .skills__item p {
      font-size: 1.8rem;
      line-height: 2.8rem;
    }
}