*{
  padding:0;
  margin: 0;
  box-sizing: border-box;
  transition: 0.5s linear;
}

:root{
  --black:rgb(21,21,21);
  --green:rgb(78,225,160);
  --dark-gray:rgb(36,36,36);
  --light-gray:rgb(217,217,217);
  --white:rgb(255,255,255);
  --alert:rgba(255, 111, 91, 1);
}

  @font-face {
    font-family: SpaceGrotesk;
    src: url('/fonts/static/SpaceGrotesk-Medium.ttf');
    font-weight: normal;
  }

  @font-face {
    font-family: SpaceGrotesk;
    src: url('/fonts/static/SpaceGrotesk-Bold.ttf');
    font-weight: bold;
  }

html{
  font-size: 10px;
  scroll-behavior: smooth;
}

/* Mobile first */
body{
  background-color: var(--black);
  font-family: SpaceGrotesk, sans-serif;
  font-size: 1.6rem;
  color:var(--white);
  overflow-x: hidden;
}

ul{
  list-style: none;
  display: flex;
}

p{
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: var(--white);
}
input,button{
  background: none;
  border: none;
}
button{
  cursor: pointer;
}
h2{
  letter-spacing: -0.25rem;
}
h3{
  letter-spacing: -0.15rem;
}
a,button{
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
a:hover, a:active, a:focus, button:hover, button:focus {
  color:var(--green)
}
/* navigation styles */
.nav{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1.8rem 0;
  z-index: 99;
}
.nav p {
  font-size: 2.4rem;
  line-height: 3.2rem;
  font-weight: bold;
  letter-spacing: -0.33px;
}
.nav__list{
  width: 154px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
}

.nav__link{
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav__link .social-ico > path{
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.nav__link:hover .social-ico > path{
  fill:var(--green);
}


/* button styles */
.btn{
  display: inline-block;
  position: relative;
  height: 3.8rem;
  color: var(--white);
  text-transform: uppercase;
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-weight: bold;
  letter-spacing: 0.22rem;
  text-decoration: none;
}
.btn::before{
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--green);
}

/* visually hidden pattern. Hide block from users but not from screen reader*/
.visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* decoration elements */
.decor{
  position: absolute;
  top:0;
  left:0;
}

/* title settings */
.title{
  text-transform: capitalize;
  line-height: 4rem;
  font-size: 4rem;
}

/* header */
.header{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
/* end */
/* main */
.main{
  width: 100%;
  padding: 1.6rem;
}

  /*section intro*/
  .intro{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .intro__text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3.8rem;
    order:2;
  }
  .intro__text p:first-child{
    font-size: 4rem;
    line-height: 4rem;
    font-weight: 700;
  }
  .intro__text--br-hidden{
    display: none;
  }
  .intro__text p{
    line-height: 2.6rem;
    font-weight: 500;
    text-align: center;
  }
  .intro__text p:not(p:first-child){
    color: var(--light-gray);
    margin-top: 2.4rem;

  }
  .text--underline{
    border-bottom: 4px solid var(--green);
  }
  .intro__link{
    margin-top: 2.4rem;
  }

  .intro__img{
    order: 1;
    width: 100%;
    height: 367px;
    background: url("/images/image-profile-mobile.webp") no-repeat;
    background-position: center;
    background-size: contain;
    z-index: 1;
  }

  .intro .decor__rings {
    top:14vh;
    left:-342px;
  }
  .intro .decor__circle {
    top:26.8vh;
    left:calc(100vw - 75px);
  }
  /* end */

  /* section skills */
  .skills{
    margin-top: 8rem;
    padding: 4rem 0;
    border-top: 1px solid var(--white);
    border-bottom: 1px solid var(--white);

  }
  .skills__list{
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

  }
  .skills__item:not(.skills__item:first-child){
    margin-top: 2.4rem;
  }
  .skills__item h3{
    font-size: 3.2rem;
    line-height: 4rem;
    font-weight: bold;
  }
  .skills__item p {
    line-height: 2.6rem;
    color: var(--light-gray);
  }
  
  .skills .decor__rings {
    top:140.7vh;
    left:calc(100vw - 189px);
  }

  /* end */

  /* section Projects */
  .projects{
    margin-top: 6rem;
    padding-bottom: 8rem;
  }
  .projects__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .projects__list{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 4rem;
  }
  .projects__item{
    width: 100%;
  }
  .projects__item:not(.projects__item:first-child){
    margin-top: 4rem;
  }
  .projects__preview-img{
    max-width: 100%;
  }
  .projects__describe{
    margin-top: 2rem;
  }
  .describe__title{
    font-size: 2.4rem;
    line-height: 3.2rem;
    text-transform: uppercase;
  }
  .projects__tech-list{
    flex-wrap: wrap;
    margin-top: 0.7rem;
    gap: 1.8rem;
  }
  .describe__item{
    font-size: 1.8rem;
    line-height: 2.8rem;
    text-transform: uppercase;
    color: var(--light-gray);
  }

  .describe__links-wrapper{
    display: flex;
    gap: 3rem;
    margin-top: 2rem;
  }
  /* end */
/* main end */

/* footer */
.footer{
  position: relative;
  background: var(--dark-gray) ;
  padding: 6rem 1.6rem;
}
  /* section contact */
  .contact{
    padding-bottom: 8.7rem;
    border-bottom: 1px solid var(--white);
  }
  .contact-title{
    text-align: center;
  }
  .contact p {
    margin-top: 2rem;
    color: var(--light-gray);
    text-align: center;
  }
  .contact-wrapper .decor__rings{
    top:52%;
    left:-343px;
  }
  .contact-form{
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
  }
  .form__input-wrapper{
    width: 100%;
    height: 4.3rem;

  }
  .form__input{
    width: 100%;
    background: transparent;
    font-family: SpaceGrotesk;
    font-size: 1.6rem;
    line-height: 2.4rem;
    padding-left: 2.4rem;
    padding-bottom: 1.6rem;
    color:var(--white);
    border: none;
    border-bottom: 1px solid var(--white);
    text-transform: uppercase;
  }
  .form__input-wrapper:not(.form__input-wrapper:first-child){
    margin-top: 3.2rem;
  }
  .form__input:focus-visible{
    outline: none;
  }
  .form__input::placeholder{
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-family: SpaceGrotesk;
    color: rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
  }
  .form__input:focus{
    border-color:  var(--green);
  }

  .input-email{
    display: flex;
    position: relative;
    flex-direction: column;
  }
  .form__input[type="email"]:invalid{
    border-color:  var(--alert);
  }
  .email-alert{
  width: 100%;
  text-align: right;
  font-size: 1.2rem;
  line-height: 1.6rem;
  letter-spacing: -0.166667px;
  color: var(--alert);
  }
  .email-alert.hidden{
    display: none;
  }
  .email-alert.hidden::before{
    content: url("/images/alert.svg");
    position: absolute;
    top:0;
    right: 0;
    width: 2.4rem;
    height: 2.4rem;
  }
  .form__input[type="email"]:invalid + .email-alert.hidden{
    display: block;
  }


  .input-message{
    height: 107px;
  }
  .input-message textarea{
    height: 107px;
    resize: none;
  }
  .form__btn-submit{
    align-self: flex-end;
    margin-top: 3.2rem;
  }
  /* end */
  /* footer navigation */
  .footer-nav{
    margin-top:3.9rem
  }
  /* end */
/*footer end */

/* media queries */
@media screen and (min-width: 768px) {
  /* navigation styles */
  .nav{
    flex-direction: row;
    justify-content: space-between;
    padding: 0 3rem;
  }
  .nav p {
    font-size: 3.2rem;
    letter-spacing: -0.44px;
  }
  .nav__list{
    margin-top: 0;
    align-items: center;
  }
  /* end */
 /* title settings */
 .title{
  font-size: 7.2rem;
  line-height: 7.2rem;
  }
  /* main */
  .main{
    padding: 0 3.2rem 2rem 3.2rem;
  }
    /*section intro*/
    .intro{
      margin-top: 15.1rem;
      align-items: flex-start;
    }
    .intro__text{
      min-width: 445px;
      max-width: 70%;
      align-items: flex-start;
      margin-top: 0;
    }

    .intro__text p:first-child{
      font-size: 7.2rem;
      line-height: 7.2rem;
      letter-spacing: -2.05px;
      text-align: left;
    }
  
    .intro__text--br-hidden{
      display: block;
    }

    .intro__text p{
      max-width: 450px;
      line-height: 2.8rem;
      font-size: 1.8rem;
      text-align: left;
    }

    .intro__text p:not(p:first-child){
      margin-top: 6.4rem;
    }
    .intro__link{
      margin-top: 4.6rem;
      text-align: left;
    }
    .intro__img{
      position: absolute;
      top:0;
      right: 0;
      max-width: 322px;
      height: 600px;
      background: url("/images/image-profile-tablet.webp") no-repeat;
      background-size: cover;
      z-index: -1;
    }
    .intro .decor__rings {
      top:9vh;
      left:-265px;
    }
    .intro .decor__circle {
      top:50.5vh;
      left:calc(100vw - 75px);
    }
    /* end */

    /* section skills */
    .skills{
      margin-top: 6rem;
      padding: 0;
      border-bottom: none;
    }
    .skills__list{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-items: start;
      text-align: left;
    }
    .skills__item:not(.skills__item:first-child), .skills__item:first-child{
      margin-top: 5.2rem;
    }
    .skills__item h3{
      font-size: 4.8rem;
      line-height: 5.6rem;
      letter-spacing: -1.5px;
    }
    .skills__item p {
      font-size: 1.8rem;
      line-height: 2.8rem;
    }
    .skills .decor__rings {
      top:107.5vh;
      left:calc(100vw - 198px);
    }
    /* end */

    /* section Projects */
    .projects{
      margin-top: 10rem;
    }
    .projects__title{
      letter-spacing: -2.04545px;
    }
    .projects__list{
      grid-template-columns: repeat(2, 1fr);
      gap: 2.4rem;
      margin: 0;
    }
    .projects__item:not(.projects__item:first-child),.projects__item{
      margin-top: 6rem;
    }
    .describe__title{
      letter-spacing: 0;
    }
    /* end */
  /* main end */

  /* footer */
    /* section contact */
    .contact{
      max-width: 445px;
      margin: 0 auto;
    }
    .contact-title{
      letter-spacing: -0.2rem;
    }
    .contact-wrapper{
      max-width: 445px;
      margin: 0 auto;
    }
    .contact-wrapper .decor__rings{
      top:64.5%;
      left:-368px;
    }
    .contact p{
      font-size: 1.8rem;
      line-height: 2.8rem;
    }
    /* end */
  /*footer end */
}

@media screen and (min-width:1440px) {
  /* navigation styles */
  .nav{
    padding: 0 16.5rem;
  }
  /* end */
 
  /* title settings */
  .title{
    font-size: 8.8rem;
    line-height: 8.8rem;
    letter-spacing: -2.5px;
  }

  /* main */
  .main{
    padding: 0 16.5rem 2rem 16.5rem;
  }
    /*section intro*/
    .intro{
      margin-top: 19.8rem;
    }  
    .intro__text{
      min-width: 706px;
    }
    .intro__text p:first-child{
      max-width: 706px;
      font-size: 8.8rem;
      line-height: 8.8rem;
      letter-spacing: -2.5px;
      text-align: left;
    }

    .intro__text--br-hidden{
      display:none;
    }
    .text--underline{
      border-width: 6px;
    }

    .intro__text p{
      max-width: 445px;
      line-height: 2.8rem;
      font-size: 1.8rem;
      text-align: left;
    }
    .intro__text p:not(p:first-child){
      margin-top: 4.9rem;
    }
    .intro__link{
      margin-top: 6.6rem;
    }
    .intro__img{
      position: absolute;
      right: 16.5rem;
      max-width: 445px;
      height: 720px;
      background: url("/images/image-profile-desktop.webp")  no-repeat;
      background-size: contain;
    }
    .intro .decor__rings {
      top:14vh;
      left:-100px;
    }
    .intro .decor__circle {
      top:55.5vh;
      left:calc(100vw - 674.5px - 13px);
    }
    /* end */
    
    /* section skills */
    .skills{
      margin-top: 21.9rem;
    }    
    .skills__list{
      grid-template-columns: repeat(3, 1fr);
    }
    .skills__item p {
      font-size: 1.8rem;
      margin-top: 1.4rem;
    }
    .skills .decor__rings {
      top:112vh;
      left:calc(100vw - 279px);
    }
    /* end */
    
    /* section Projects */
    .projects{
      margin-top: 14rem;
      padding-bottom: 11.9rem;

    }
    .projects__list{
      gap: 3rem;
    }
    .projects__item{
      position: relative;
      max-width: 540px;
    }
    .projects__item:hover .describe__links-wrapper{
      display: flex;
    }
    .projects__item:not(.projects__item:first-child),.projects__item{
      margin-top: 8rem;
    }
    .projects__preview-img{
      max-height: 400px;
    }
    .describe__links-wrapper{
      position: absolute;
      top:0;
      left: 0;
      display: none;
      align-items: center;
      justify-content:  center;
      width: 100%;
      height: calc(100% - 18%);
      flex-direction: column;
      margin: 0;
      background-color: rgba(0,0,0,0.75);
      transition:5s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
     /* end */
  /* main end */

  /* footer */
  .footer{
    padding: 8.4rem 16.5rem 9.2rem;
    }
    /* section contact */
    .contact{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, min-content);
      max-width: 100%;
    }
    .contact-title{
      letter-spacing: -0.25rem;
      justify-self: start;
    }  
    .contact p{
      max-width: 445px;
      grid-row: 2/4;
      order: 2;
      margin-top: 3.6rem;
      text-align: left;
    }
    .contact-wrapper{
      width: 445px;
      order: 1;
      grid-column: 2/-1;
      grid-row: span 2;
      justify-self: end;
      margin: 0;
    }
    .contact-form{
      margin-top: 0;
    }
    /* end */
    /* footer navigation */
    .footer-nav{
      margin-top: 4.7rem;
      padding: 0;
    }
    /* end */
  /*footer end */
}