*{
  padding:0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  --black:rgb(21,21,21);
  --green:rgb(78,225,160);
  --dark-grey:rgb(36,36,36);
  --light-gray:rgb(217,217,217);
  --white:rgb(255,255,255);
}

/* Set up SpaceGrotesk for old browsers, only regular + bold */
@supports not (font-variation-settings: normal) {
  @font-face {
    font-family: SpaceGrotesk;
    src: url('/fonts/static/SpaceGrotesk-Medium.ttf');
    font-weight: normal;
  }

  @font-face {
    font-family: SpaceGrotesk;
    src: url('/fonts/static/SpaceGrotesk-Bold.ttf');
    font-weight: bold;
  }

  body {
    font-family: SpaceGrotesk;
  }
}

/* Set up SpaceGrotesk for modern browsers, all weights */
@supports (font-variation-settings: normal) {
  @font-face {
    font-family: 'SpaceGrotesk';
    src: url('/fonts/SpaceGrotesk-VariableFont_wght.ttf') format('ttf supports variations'),
         url('/fonts/SpaceGrotesk-VariableFont_wght.ttf') format('ttf-variations');
    font-weight: 100 1000;
    font-stretch: 25% 151%;
  }

}

html{
  font-size: 10px;
  scroll-behavior: smooth;
}

/* Mobile first */
body{
  background-color: var(--black);
  font-family: SpaceGrotesk, sans-serif;
  font-size: 1.6rem;
  color:var(--white);
}

ul{
  list-style: none;
  display: flex;
}

p{
  color: var(--light-grey);
}

.nav{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1.8rem 0;
}
.nav p {
  font-size: 2.4rem;
  font-weight: 700;
}
.nav ul{
  width: 154px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
}
.nav-ico{
  max-height: 2rem;
}


/* visually hidden pattern. Hide block from users but not from screen reader*/
.visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*section intro*/
.intro{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 1.6rem;
}
.intro__text{
  order: 2;
}
.intro__text p:first-child{
  font-size: 4rem;
  line-height: 4rem;
  font-weight: 700;
}
.intro__text p{
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-weight: 500;
  text-align: center;
}


.intro__img{
  order: 1;
}
.intro__img {
  width: 174px;
}
.intro__img img{
  max-width: 100%;
  height: auto;
}


/* end */